*.so
*.o
openssl-build/
openssl-source/
package/
builds/
logs/
SA64.env
SA64client.env
config.in
engine/makefile
gem-samples/engineperf/engineperf
gem-samples/sautil/sautil
lunaProvider/makefile
luna.tar.gz
*.keep.*
*.dll
*.exe
*.exp
*.ilk
*.lib
*.obj
*.pdb
*.tmp
LUNAlocal/
liboqs-*.tar.gz
openssl-*.tar.gz
